.navbar {
    background-color: #333;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar button {
    height: 40px;
    width: 100px;
}

ul li:hover {
    background-color: #ceebfd;
}

ul li:target {
    background-color: #ceebfd;
}

.selected {
    background-color: #ceebfd;
}