ul li {
    padding: 4px;
}

ul li:hover {
    background-color: #ceebfd;
}

.section {
    background-color: #f2f2f2;
}

.span_folder {
    background-color: #FFFF99;
}

.span_text {
    font-style: italic;
}

.span_comment {
    font-style: italic;
}

.span_comment_flag {
    color:#66ff33; 
    background-color:darkgreen;
    margin-right: 5px; 
    margin-left: 10px; 
    border-radius: 25px; 
    padding-right: 10px; 
    padding-left: 5px;
}

#bar {
    background-color: blueviolet;
    color: white;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 10px 0px;
}

body {
    margin: 0;
}

#refresh_button {
    margin-left: 10px;
}